<!-- Section: Testimonials v.2 -->
<section class="m-5">
  <!-- Section heading -->
  <div class="fwd-head">

    <h3 class="h3-responsive ">Testimonials </h3>
  </div>
  <!--Carousel Wrapper-->
  <mdb-carousel [isControls]="true" [animation]="'slide'" class="testimonial-carousel">
    <!--First slide-->
    <mdb-slide class="p-5">
      <div class="container">
        <div class="row">
          <div class="col col-12 col-md-6 p-0 m-0">
            <div class="testimonial p-4 text-left  mr-4">
              <!--Avatar-->
              <div class="avatar mx-auto mb-4">
                <img src="https://scontent.ftun6-1.fna.fbcdn.net/v/t1.0-9/p960x960/64947195_2168730176582094_4362167883321573376_o.jpg?_nc_cat=106&_nc_sid=85a577&_nc_ohc=-1Tevg8LncoAX_NczO8&_nc_ht=scontent.ftun6-1.fna&_nc_tp=6&oh=dd39b38712bfc7329528968e24906738&oe=5EC384AF" class="rounded-circle img-fluid"
                  alt="First sample avatar image">
              </div>
              <!--Content-->
              <div class="pl-4 testimonial-text">
                <p class="text-more">
                  <mdb-icon fas icon="quote-left" class="quote-text"></mdb-icon>
                  Professionalism in handling, quality of work provided, work experience, and on-time delivery. Communication and follow-up, and I will deal with it again
                </p>
                <h4 class="font-weight-bold">
                  mouhamed monthor</h4>
                <h6 class="font-weight-bold  float-left">Wind company yourself</h6>
                <!--Review-->
                <div class="float-right">
                  <mdb-icon size="xs" fas icon="star" class="green-text"> </mdb-icon>
                  <mdb-icon fas size="xs" icon="star" class="green-text"> </mdb-icon>
                  <mdb-icon fas size="xs" icon="star" class="green-text"> </mdb-icon>
                  <mdb-icon fas size="xs" icon="star" class="green-text"> </mdb-icon>
                  <mdb-icon fas size="xs" icon="star" class="green-text"> </mdb-icon>
                </div>
                <div class="clearfix"></div>

              </div>
              <mdb-icon size="3x" fas icon="quote-right" class="quote"></mdb-icon> 
            </div>
          </div>
          <div class="col col-12 col-md-6 p-0 m-0  ">
            <div class="testimonial p-4 text-left  ml-4">
              <!--Avatar-->
              <div class="avatar mx-auto mb-4">
                <img src="https://avatars.hsoubcdn.com/21ef30fb2e4977cc3759d22e315e20cb?s=256" class="rounded-circle img-fluid"
                  alt="First sample avatar image">
              </div>
              <!--Content-->
              <div class="pl-4 testimonial-text">
                <p class="text-more">
                  <mdb-icon fas icon="quote-left" class="quote-text"></mdb-icon>good job, work experience delivery on time, and deal with it again

                </p>
                <h4 class="font-weight-bold">Ayman Abosultan</h4>
                <h6 class="font-weight-bold  float-left">not found work</h6>
                <!--Review-->
                <div class="float-right">
                  <mdb-icon size="xs" fas icon="star" class="green-text"> </mdb-icon>
                  <mdb-icon fas size="xs" icon="star" class="green-text"> </mdb-icon>
                  <mdb-icon fas size="xs" icon="star" class="green-text"> </mdb-icon>
                  <mdb-icon fas size="xs" icon="star" class="green-text"> </mdb-icon>
                  <mdb-icon fas size="xs" icon="star" class="green-text"> </mdb-icon>
                </div>
                <div class="clearfix"></div>

              </div>
              <mdb-icon size="3x" fas icon="quote-right" class="quote"></mdb-icon> 
            </div>
          </div>
          <div class="col col-12 col-md-6 p-0 m-0"></div>
        </div>
      </div>

    </mdb-slide>
  
    <!--Second slide-->


  </mdb-carousel>
  <!--/.Carousel Wrapper-->
</section>
<!-- Section: Testimonials v.2 -->