<!--Navbar-->
<mdb-navbar SideClass="navbar py-4 navbar-expand-lg navbar-light bg-transparent border-none shadow-none">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
      
            
            <img src="assets/logo-nav.png" class="logo-nav rounded-circle img-fluid" alt="">
     
        <a class="navbar-brand" routerLink="">FtouhWD</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link waves-light px-4" routerLink="" routerLinkAtctive="active" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light px-4" routerLink="resume" routerLinkAtctive="active" mdbWavesEffect>Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light px-4" routerLink="portfolio" routerLinkAtctive="active" mdbWavesEffect> Portfolio</a>
            </li>

            <li class="nav-item">
                <a class="nav-link waves-light px-4" routerLink="." fragment="contact" routerLinkAtctive="active" mdbWavesEffect> contact</a>
            </li>

            <!-- Dropdown -->
          

        </ul>
        <!-- Links -->

<!-- Search form -->
       
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->