.mapouter {
    position: relative;
    text-align: right;
    height: 300px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
}
.lance-img {
    width: 22px;
    height: 22px;
    filter: grayscale(100%);
}