.werpper {

    background-color: #3478b0;
}
.content {
    background-color: #f0f0f0;
    border-radius: 30px;
}
@media (max-width: 575.98px)  { 
    .werpper {
        padding: 0 !important;
    }
    .content {
        border-radius:  0 !important;
    }
 }
