<p>app-shell works!</p>
<header class="container my-5">
    <div class="row px-5">
        <div class="col col-12 col-sm-5">
            <div class="logo p-3 shadow animated swing delay-1s">
                <img src="assets/logo.png" alt="" srcset="">
            </div>
        </div>
        <div class="col col-12 col-sm-7 header-text">
            <h6 class="mb-2"> full stack javascript developer</h6>
            <h1 class="animated delay-1s bounceInDown">Ftahi Guemri</h1>
            <p class="mb-5 mt-4 text-resume"> 
                I have worked in programming since 2015, during which time I worked in different environments, I am a self-motivated and self-taught professional who loves javascript and problem solving.

I combine a passion for usability and user experience with technical knowledge to create great digital experiences. It includes two repertoire of programming languages and tools such as Angular, nodeJS e, ElectronJS, expressJS, Typescript,
  mongodb, CSS scss Gulp, MDBootstrap, Html pugjs, jQuery, and more.

            </p>
            <a routerLink="/resume" mdbBtn class="rounded-pill fwd-btn animated bounceInLeft delay-1s slow"   outline="true" mdbWavesEffect>Resume</a>
            <a routerLink="." fragment="contact" mdbBtn class="rounded-pill bounceInRight delay-2s slower animated" color="dark" outline="true"  mdbWavesEffect>Contact</a>
        </div>
    </div>
</header>