<div class="container mt-5 p-5">
    <div class="fwd-head">
        <h3 class="fwd-head">What I Do </h3>
    </div>

    <div class="row">
        <div class="col col-12 col-sm-6 mb-4">
            <div class="float-left pr-4">
                <i class="fas fa-code fa-fw fa-2x"></i>

            </div>
            <div class="float-left w-75 mt-0">
                <h5 class="mt-0 mb-2 pt-0">Website</h5>
                <p class="text-more">
                    Create a website with angular framework with Material Design Bootstrap and HTML5 CSS3 javascript
                    plus server  site of nodejs & expressJS and NOSQL databese mongodb
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col col-12 col-sm-6 mb-4">
            <div class="float-left pr-4">
                <i class="fas fa-laptop-code fa-fw fa-2x"></i>
            </div>
            <div class="float-left w-75 mt-0">
                <h5 class="mt-0 mb-2 pt-0">Desktop Applications</h5>
                <p class="text-more">
                    Create desktop app using ElctronJs and mongodb and Angular.
                    Electron is a framework for creating native applications using web technologies
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col col-12 col-sm-6 mb-4">
            <div class="float-left pr-4">

                <i class="fas fa-mobile-alt fa-fw fa-2x"></i>
            </div>
            <div class="float-left w-75 mt-0">
                <h5 class="mt-0 mb-2 pt-0">Progressive Web Applications (PWA)</h5>
                <p class="text-more">
                    Create a PWA using angular. PWA is a set of instructions for using modern browser features in a way
                    that creates an original user experience like the app. on the principle
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        
        <div class="col col-12 col-sm-6 mb-4">
            <div class="float-left pr-4">
                <i class="fas fa-terminal fa-fw fa-2x"></i>
            </div>
            <div class="float-left w-75 mt-0">
                <h5 class="mt-0 mb-2 pt-0 ">Application Programming Interface (APIs)</h5>
                <p class="text-more">
                    Create desktop app using nodejs and mongodb.
    
                    API is a set of programming procedures, protocols, instructions, and standards for accessing a
                    web-based application. It is an application layer that can interact with other applications.
                </p>
            </div>
            <div class="clearfix"></div>
        </div>



    </div>
</div>